{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="h3">
        Delete your review
    </div>

    <div>
        {% if request.user.is_authenticated %}
            <div class="row-mb-3">
                <form method="post">
                    {% csrf_token %}
                    <b>Are you sure ? </b>  <br>  
                    <button class="btn btn-danger ps-4 pe-4 mt-1 mb-1">Delete</button>
                </form>
            </div>
            {% else %}
            <p class="text-secondary">
                Sign up to delete review :-)
            </p>
            {% endif %}
    </div>

    <a href="{% url 'books' %}" class="text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Back
    </a>
</div>
{% endblock content %}